$font-lato: "Lato", sans-serif;
$font-rubik: "Rubik", sans-serif;

$black-1: #141312;
$black-2: #1a212f;
$white: #ffffff;
$grey-1: #fffefd;
$grey-2: #e5e5e5;
$grey-3: #e1e1e1;
$grey-4: #efefef;
$grey-5: #8f8f8f;
$grey-6: #848484;
$orange: #ff7236;
$yellow: #fac663;

