.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  background-color: rgba($color: $black-1, $alpha: 0.3);
  border-top: 1px solid rgba($color: #989393, $alpha: 0.21);
  border-bottom: 1px solid rgba($color: #989393, $alpha: 0.21);
}

.header__wrapper {
  @include container;
  @include row;

  align-items: center;
}

.header__logo {
  position: relative;

  display: inline-flex;

  margin: -1px 0;
  padding: 5px 10px 10px 15px;

  border: 1px solid transparent;
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATwAAABkAgMAAABmwWS7AAAAAXNSR0IB2cksfwAAAAlQTFRFAAAA////l5KS1uw39AAAAAN0Uk5TAP82puisNQAAAFJJREFUeJzt2QENgDAAA8EOD/iZCOYH6ZgoyZLdCzgDn/Wk170yi1wyeJt5b9W7eDwej8fj8Xg8Ho/H4/F4PB6Px+PxeLxfvVn19v95p3nl3/0B0cow32RxrbgAAAAASUVORK5CYII=");
  border-image-slice: 1;

  @media (min-width: 575.98px) {
    padding: 15px 15px 15px 20px;
  }

  @media (min-width: 767.98px) {
    padding: 25px 15px 39px 25px;
  }
}

.header__logo img {
  height: 24px;
  width: auto;

  @media (min-width: 575.98px) {
    height: 28px;
  }

  @media (min-width: 767.98px) {
    height: 34px;
  }
}

.header__menu-button {
  position: relative;
  z-index: 105;

  margin-left: auto;
  padding: 10px;

  background-color: transparent;
  border: none;

  @media (min-width: 1199.98px) {
    display: none;
  }
}

.header__icon-box {
  position: relative;

  display: block;
  width: 24px;
  height: 14px;
}

.header__icon {
  top: 50%;
  margin-top: -1px;

  &,
  &::before,
  &::after {
    position: absolute;

    display: block;
    width: 100%;
    height: 2px;

    background-color: white;
    border-radius: 1px;

    transition-property: transform;
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: -7px;
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  }

  &::after {
    bottom: -7px;
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.header__menu-button--close .header__icon {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  &::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  }

  &::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.header__menu {
  margin-left: auto;

  @media (max-width: 1199.98px) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;

    max-width: 100%;
    width: 100%;
    padding: 68px 0;

    background-color: black;

    overflow-y: auto;

    transition: left 0.3s ease;
  }
}

.header__menu--closed {
  @media (max-width: 1199.98px) {
    left: -100%;
    z-index: -1;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: all 0.3s ease;
  }
}
