.welcome {
  position: relative;

  display: flex;
  align-items: center;

  color: $grey-2;

  background-color: #08121b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 575.98px) {
    min-height: 660px;
  }
}

.welcome__wrapper {
  position: relative;
  z-index: 20;

  @include container;
  @include row;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;

  @media (min-width: 575.98px) {
    padding-top: 55px;
    padding-bottom: 75px;
  }

  @media (min-width: 767.98px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.welcome__intro {
  position: relative;

  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
  padding: 35px 0 55px;

  @media (min-width: 575.98px) {
    padding: 100px 0 35px;
  }

  @media (min-width: 991.98px) {
    flex-basis: 50%;
    max-width: 50%;
    padding: 65px 0;
  }
}

.welcome__feature {
  position: relative;

  flex-basis: 100%;
  max-width: 100%;
  width: 100%;

  @media (min-width: 575.98px) {
    margin-left: -40px;
  }

  @media (min-width: 991.98px) {
    max-width: 400px;
    margin-left: auto;
    margin-right: -45px;
  }
}

.welcome__planet {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);

  @media (min-width: 575.98px) {
    top: 40%;
    left: 85%;
  }

  @media (min-width: 767.98px) {
    top: 55%;
  }

  @media (min-width: 991.98px) {
    left: 65%;
  }

  @media (min-width: 1199.98px) {
    left: 50%;
    top: 50%;
  }
}

.welcome__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.15;
  text-transform: uppercase;


  background: linear-gradient(90deg, #ffffff 10%, #ebebeb 25%, #ff3f04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: 575.98px) {
    font-size: 58px;
  }
}

.welcome__subtitle {
  margin-bottom: 35px;

  font-weight: 300;
  font-size: 18px;
  line-height: 1.15;

  background: linear-gradient(90deg, #ffffff 10%, #ebebeb 25%, #ff3f04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: 575.98px) {
    margin-bottom: 45px;

    font-size: 25px;
  }

  @media (min-width: 991.98px) {
    margin-bottom: 85px;
  }
}

.welcome__title + .welcome__subtitle {
  margin-top: -5px;
}

.welcome__more {
  position: relative;
  z-index: 10;

  display: inline-flex;
  padding: 10px 24px;

  font-weight: 100;
  font-size: 14px;
  line-height: 1;
  color: $grey-2;
  text-decoration: none;

  border: 1px solid transparent;
  border-image: linear-gradient(135deg, transparent,#273e66 35%, #273e66 65%, transparent);
  border-image-slice: 1;

  transition: all 0.2s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;

    display: block;
    width: 34px;
    height: 34px;

    background-size: 34px 34px;
    background-repeat: no-repeat;
  }

  &::before {
    left: -16px;
    bottom: -16px;
    border-top: none;
    border-right: none;

    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAMAAAANmfvwAAAAjVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8DizOFAAAALnRSTlMAAQIDBAUGBwgJCgsMDQ4PEBESExQVFhcYGRobHR4gJikvODxISU1OUlhbXWOBs95cGgAAATVJREFUGBkFwQGu2EQARDG/TUol7n9XBP3ZwQ4ACAYABIAAGAACEABgAAECaAADBAQEDDAQCERgBgyCQAfAZmAIQYVg2AZDBB0ijLENxgt0SB3sYjE0rwDVOeWu3bUYeISO6jzPe04nSAPegDjv8z5n3/eDOzLaEzrqOc+vv37/fk4aaOAJpc7z/vXr99/u0zYD8CKQTq/37Ndm5wN0IKRzStX7lAK8AED6e3/++0mg8QLg3vM95fkqYHgxsd37Pf96tj8/3wbAC2D3+zn+yfZzr28z2BNSHDPb9/Pn57vDBu9iWi77znH33e8OwAusudx7mHvvzB0mQUdyCvPZ7MJEcCKJMeMOI4SKAIw7GCFQAeAaDEEgBbgGBoGAiDFg4AECgAEGBBAAgAECEAAwAAFAAAaA/wF4AKiAmhoI2wAAAABJRU5ErkJggg==");
  }

  &::after {
    top: -16px;
    right: -16px;
    border-bottom: none;
    border-left: none;

    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAMAAAANmfvwAAAAjVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8DizOFAAAALnRSTlMAAQIDBAUGBwgJCgsMDQ4PEBESExQVFhcYGRobHR4gJikvODxISU1OUlhbXWOBs95cGgAAATZJREFUGBkFwcGRHCAQBDA1sH5c/rnaroXpkwIAAVAABIAAAAUIQAAAFBBAAEEBCgIECKEUKAQExAK0CopAIBYA2oISBLIIgNIWJQiyiBCqSgfqEAiJLWgHTYr0AIkkay1hZs2UKBxBlsg6a2eZecNoCg6ArL3P2at998tIo+RAwFrnz0l0L501lcIJRLKt9fl8kvffvCmAA0Cyzw+2v3utSYmyEKDt+/emdtYCwEED1Xf7zU8KABxAad9dVe1MFYXTACZP8sndt1MFxRaIJJFK7/d+72tR2IIIaDtzv/fOe2UKR0OFDu5bvHlDgW6CiKBt581MW1MQAklErGBaZYoKAkkIQSlTqA0BgkDRFsqGABUAU1AEBIiAUlDYQACAAgUBCEAKUCAAAgAoQAAgABSAAAACBQC/U5PBD7sTmOoAAAAASUVORK5CYII=");
  }
}

.welcome__more:hover {
  color: $white;
}

.welcome__guide {
  position: absolute;
  left: 30%;
  bottom: 17%;
  z-index: 20;

  display: block;
  width: 410px;
  height: 60px;

  background-image: url("../img/guide.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 406px 57px;

  @media (max-width: 1199.98px) {
    display: none;
  }
}
